@font-face {
  font-family: "honoka";
  src: url(./font/honokaMaruGothic.otf);
}

body {
  margin: 0;
  font-family: "Kiwi Maru", "Roboto", "Roboto Slab", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

h1 {
  font-family: "Amatic SC", cursive !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
